<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
</head>
<body>
    <div class="container">

        <form action="#" method="post">
            英雄名字：<input type="text" placeholder="输入角色名" name="heroname">
            <br>
            英雄技能：<input type="text" placeholder="输入大招" name="herocontent">
            <br>
            性别：<input name="sex" type="radio" value="female" checked> 女 <input name="sex" type="radio" value="male">男
            <br>
            <input type="submit" value="提交">

        </form>


    </div>
</body>
</html>