<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h1>这里是首页   <a href="{% url 'polls:index' %}">进入投票页</a></h1>
        <div class="center">
            <img src="/static/img/background.jpg" alt="">
        </div>
        <div>
    <!--        {{name}}-&#45;&#45;&#45;&#45;{{age}}-->
            <ul>
               
                {% for book in books %}
                    <li>
                        {# <a href="/detail/{{book.id}}"> </a> 这是注释#}
                        <a href="{% url 'booktest:detail' book.id %}">{{book.id}}--{{book}}</a>
                        <a href="{% url 'booktest:deletebook' book.id %}">删除</a>
                    </li>


                {% endfor %}
            </ul>

        </div>

    </div>
</body>
</html>